{
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "embeddedLanguageFormatting": "auto"
}
